body {
    background-color: lightblue;
  }
  
h1 {
    
	color: white;
    text-align: center;
  }
p {
    font-family: Altivo;
  }  
i {
	
  font-size: 18px;
  }
img {
	margin: auto;

}
a, u {
	color: black;
	text-decoration: none;
}
#sidebar {
	font-size: 18px;
	line-height: 10px;  
	padding-right: 0px;
	margin-left: 15px;
	width: 250px;
	position: fixed;
}
#about,#reckoning, #act1,#act2, #act3, #sleepwalkers, #island, #cv, #contact {
	/* align-content: center; */
	
    font-size: 15px;
	margin: auto;
	top: auto;
	width: 50%;
	padding-top: 100px;
	padding-left: 290px;
	padding-bottom: 200px;
    }
iframe {
	align-content: center;
}
#roof {
	display: flex;
	margin: auto;
	
	
align-content: center;
	padding: 100px;
}
#reckoningthumb, #act1thumb, #act2thumb, #act3thumb, #islandthumb, #sleepthumbnail{
	text-align: center;
	width: 100%;
	display: inline-block;
	
}
.whitelink {
	color: white;
}
.title {
	font-size: 18px;
}
.name1 {
	font-family: Altivo;
    font-size: 24px;
    text-align: Left;
    color: white;
  }
.thumbnail{
	width: 31%;
	max-width: 30%;
	padding: 5px;
}


