body {
    background-color: lightblue;
  }
  
h1 {
    color: white;
    text-align: center;
  }

p {
    font-family: Altivo;
    font-size: 18px;
  
  }  
i {
	font-size: 18px;
}
a, u {
	color: black;
	text-decoration: none;
}
#name1 {
    font-size: 24px;
    text-align: Left;
    color: white;
  }
#sidebar {
	font-size: 10;
	line-height: 10px;  
	padding-right: 0px;
	margin-left: 15px;
	width: 250px;
	position: fixed;
}
#about,#reckoning, #act1,#act2, #act3, #sleepwalkers, #island, #cv, #contact {
	font-size: 15px;
	margin: auto;
	top: auto;
	width: 50%;
	padding-left: 25%;
	padding-top: 15px;
	align-content: stretch;
}
iframe {
	align-content: center;
}
